@charset "utf-8";
/* CSS Document */
.main_left {
	table-layout: auto;
	WIDTH: 180px;
	/*background-image: url(../images/left_bg.gif);*/
}
.main_left_top{
	padding: 1px 0px 0px 0px !important;
	padding: 5px 0px 0px 0px;
	background-color: #fff;
	margin: 0px;
	/*background-image: url(../images/left_menu_bg.gif);*/
}
.left_title_bg {
	background-image: url(../images/nov_lftitlebg.png);
	background-repeat: no-repeat;
	height: 39px;
}
.main_left_title{
	text-align: center;
	/*padding-left: 15px;*/
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	font-family: "微软雅黑";
}
.left_iframe{
	HEIGHT: 94%;
	VISIBILITY: inherit;
	WIDTH: 100%;
	background: transparent;
	margin: 0px;
	padding: 0px;
}
.main_iframe{
	HEIGHT: 97%;
	VISIBILITY: inherit;
	WIDTH: 100%;
	Z-INDEX: 0;
	margin-left: 0px;
}
table { font-size:12px; font-family :宋体, tahoma,, fantasy; }
td { font-size:12px; font-family : 宋体,tahoma, fantasy;}
#menu_2 {
	font-size: 14px;
	float: left;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
	font-family: "宋体";
}
